#Names{
 text-align: center;   
}
#foot{
    background-color: bisque;
}

#login{
    text-align: center;
}
a:hover{
        
        background-color: blueviolet;
}
.mt-6{
        margin-top: 33rem !important
}